.header {
    height: 90px;
    padding: 10px;
    background: white;
    display: flex;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, transparent, gainsboro, transparent) 1;
}

.linkGroup {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: black;
}
