.footer {
    margin-top: 20px;
    height: 90px;
    padding: 10px;
    background: white;
    display: flex;
    border-top: 2px solid;
    border-image: linear-gradient(to right, transparent, gainsboro, transparent) 1;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
    margin-right: 50px;
}
